/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilo para o Título 1 */
.titulo-estilo1 {
    font-size: 2.5em;
    color: #1E90FF; /* Cor azul */
    background-color: #05cee9; /* Fundo azul-claro */
    padding: 15px 25px;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* Estilo para o Título 2 */
.titulo-estilo2 {
    font-size: 2.5em;
    color: #4CAF50; /* Cor verde */
    background-color: #a5d6a9; /* Fundo verde-claro */
    padding: 15px 25px;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
/* Estilo para o Título 3 */
.titulo-estilo3 {
    font-size: 2.5em;
    color: #af4c89; /* Cor verde */
    background-color: #97aee4; /* Fundo verde-claro */
    padding: 15px 25px;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
/* Estilo para o Título 4 */
.titulo-estilo4 {
    font-size: 2.5em;
    color: #af4c4c; /* Cor verde */
    background-color: #879488; /* Fundo verde-claro */
    padding: 15px 25px;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgb(243, 243, 243);
    margin-bottom: 20px;
}